body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.review {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.review h2 {
  margin: 0;
}

.rating {
  display: inline-block;
  color: #ffcc00;
}

.book-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.book-table caption {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.book-table th, .book-table td, .book-table tr {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.book-table th {
  background-color: #333;
  color: #fff;
}

.book-table tbody tr:hover {
  background-color: #f2f2f2;
}
.hidden {
  display: none;
}
.title-new-review{
  margin-top: 50px;
  text-align:center;
}
.textarea{
  width: 100%;
}
.button-add-review{
  display: flex;
  align-items: center;
}
.add-title{
  width: 100%;
  margin-bottom: 7px;
}
label{
  font-size: 10px;
}
#img-resize-50 {
  width: 50%; 
}